/* p is our selector, color is our property and darkprchid is our value*/
p, h1
{color:darkorchid;
font-size: 1.5 em; /* 50% bigger than default */
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bolder;
}
p a{color:goldenrod;}
#firstlink {color: pink}
.redtext {color: red}