h1 {color:#FFFFFF;}
body {
    color:#ded41b;
    background-color:#000000;
}
a {
    color: #d14128;
}
nav {
    background-color: #e6d81e;
}
nav a {
    color: #d14128;
}

nav a:hover {
    background-color:#000000;
}

nav {
    padding: 10px;
    margin-bottom: 30px;
}